Homework1_Neo4J_TheBeerProject/_/
./data/
Homework2_MongoDB/_/

# Created by .ignore support plugin (hsz.mobi)
# Source: https://gist.github.com/MOOOWOOO/3cf91616c9f3bbc3d1339adfc707b08a
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# virtualenv
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/

# idea folder, uncomment if you don't need it
.idea/
Homework1_Neo4J_TheBeerProject/_/Container.txt
Homework2_MongoDB/data/
Homework2_MongoDB/Group5_BDMM_HW2.html
Homework2_MongoDB/Group5_BDMM_HW2_WithoutNewSchema.html
Homework2_MongoDB/Versões/Group5_BDMM_HW2_WithoutNewSchema.html
